# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
flood-risk-ai/
venv/

# Model
*.h5
*.keras
*.joblib
*.pkl

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Output
outputs/